body {
  background: #ccc;
}

#content {
  margin: 4em;
  background: #fff;
  border-radius: 2em;
}

#mainInformation {
	text-align: center;
  padding-top:2em;
}
.mainPhoto img {
	width: 12em;
	height: auto;
	border-radius: 50%;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
#Games {
  text-align: center;
  padding-bottom: 2em;
}

.Images {
  width: 70%;
  height: auto;
  margin-left: 15%;
}

.Images img {
  width: 20%;
  height: 20%;
  margin-top:1em;
  margin-bottom: 1em;
}

.Game {
  background: #eee;
  border-radius: 2em;
  margin: 4em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}

li {
  list-style-type: none;
}

#ToTop {
  position: fixed;
  bottom: 2.5em;
  right: 1%;
  font-size: 2em;
  background-color: #3dc2f1;
  border-radius: 20%;
  padding: 0.4em; 
  z-index: 1;
}

#ToTop a {
  color: #fff;
}
#ToTop a:link {
    text-decoration: none;
}
#ToTop:hover {
  background-color: #3dc2d0;
}